.detail-review-wrap {
  margin-top: 8rem;
}
.detail-review-wrap h2 {
  color: #fff;
  padding-bottom: 1rem;
  border-bottom: 2px solid #503396;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .detail-review-wrap {
    width: 100%;
    padding: 0 2.4rem;
  }
}
