.review-box {
  padding: 2rem;
  border-bottom: 1px solid rgb(27, 28, 29);
}

.review-author-wrap {
  display: flex;
  align-items: center;
}
.user_avatar > img {
  width: 42px;
  margin-right: 1.6rem;
  border-radius: 2.4rem;
}
.review-author-wrap h4 {
  font-size: 1.6rem;
}

.review-text-box {
  width: 100%;
  margin-top: 1.2rem;
  word-break: break-all;
}
.review-text-box.fold {
  max-height: 70px;
  overflow: hidden;
}
.review-text-box.expanded {
  max-height: none;
}
.more-btn {
  background: none;
  color: #84868d;
  font-size: 1.4rem;
  border: none;
  margin: 1rem 0;
  border-bottom: 1px solid #dbdbdb;
}
